.Ball{
    display: inline-block;
    width: 3em;
    height: 2.25em;
    margin-right: 10px;
    border-radius: 50%;
    background-color: powderblue;
    font-weight: 700;
    margin: 0.5em;
    padding-top: 0.75em;
    font-size: 1.5em;
    text-align: center;
}